# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
streamlit
python=3.12.2=hab00c5b_0_cpython
python-dateutil=2.9.0post0=py312h06a4308_2
python-tzdata=2023.3=pyhd3eb1b0_0
python_abi=3.12=4_cp312
opencv-python-headless
numpy==1.26.4
numpy-base==1.26.4
pymoo==0.6.1.1
